<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Add vocabulary</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Add vocabulary</h1>
  <form action="/add" method="post">
    <select name="category" class="input-text">
      <option value="">Choose existing category</option>
      {% for category in categories %}
        <option value="{{ category }}">{{ category }}</option>
      {% endfor %}
    </select>

    <input type="text" name="new_category" placeholder="Or write a new category" class="input-text">
    <input type="text" name="german" placeholder="German word" required class="input-text">
    <input type="text" name="translation" placeholder="Translated word" required class="input-text">
    <button type="submit" class="specialbutton">Save</button>

  </form>
  <a href="/" class="back-link">Back</a>
  <a href="/edit" class="back-link">Search</a>
</body>
</html>

